html,body,p{
    margin: 0;
    padding: 0;
}

.main-header{
    padding: 1em 0;
    background: #d33a2c;
    color: #fff;
}

.main-header h2 {

}

.header-container{
    vertical-align: text-top;
}

.logo{
    font-size: 1em;
    float: left;
    line-height: 0;
}

.logo img{
    width: 200px;
    height: 80px;
}
.header-item {
    display: inline-block;
    margin: 16px;
}
.header-item h2{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
   
    /* background-color: #ccc; */
    height: 2.14857em;
}
.header-item p{
     font-size: 22px;
}
.header-button h2{
    margin:  0;
}
.header-button{
    display: inline-block;
    vertical-align: center;
    padding: 11px 14px;
    border: solid 3px white;
    border-radius: 8px;
}
