html,body,p{
    margin: 0;
    padding: 0;
}



.main-header{
    padding: 1em 0;
    background: #d33a2c;
    position: relative;
    min-height: 5.9375rem;
    color: #fff;
}
.main-header ul{
    display: inline-block;
    list-style:none;
}
.main-header figure {
   vertical-align: top;
}
.main-header a{
    text-align: center;
}
.main-header h2 {
    background-color: #ccc;
    height: 2.14857em;
    width: 2em;
}
.main-header p {
    background-color: #ccccff;
    height: 2.14857em;
    width: 4em;
}
.logo{
    font-size: 1em;
    float: left;
    line-height: 0;
    width: 3em;
    position: relative;
    z-index: 1;
}

@media (min-width: 1350px) {

    .logo {     
       
        margin-top: 1.0em;
    }
}

@media (min-width: 900px) {
    .logo {
         width: 10.0em;
        margin-top: 1.5em;
    }
} 